<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Greetings!</p>
    <p>Thank you for participating in the alpha test for <b>Alchemy</b>.</p>
    <p>This is the <b>core version</b> of the app--meaning that this represents only the very basic functions of our vision for Alchemy. Any extra features, which are planned for the full version, have not yet been implemented (i.e. shop, upgrades, animations, etc.).</p>
    <p><i>*The only materials suggested is a <b>notebook or blank journal</b> as there are a few aspects of the app that call for writing. Your notebook will be referred to as the “Alchemy Journal”*</i></p>
    <p>For beta testing, you will be given <b>3 weeks</b>. We ask that you complete a pre-test survey (below), which will be followed by a post-test survey on <b>March 2nd</b>. To complete this survey, simply respond to this email by copying and pasting the survey and typing in your answers below each question. We look forward to reading your input and incorporating your feedback for the next version of Alchemy!</p>
    <p>--------------------------------------------------</p>
    <p><b>ANDROID USERS</b></p>
    Please download the app on the Play Store using this link:
    <br /><a href='https://play.google.com/store/apps/details?id=com.alchemy'>https://play.google.com/store/apps/details?id=com.alchemy</a></p>
    <p><b>IPHONE USERS</b></p>
    <p>Please download the TestFlight app on the App Store using this link:
    <br /><a href='https://itunes.apple.com/us/app/testflight/id899247664?mt=8'>https://itunes.apple.com/us/app/testflight/id899247664?mt=8</a>
    <br /><b>Then</b> access the Alchemy app via this link:
    <br /><a href='https://testflight.apple.com/join/ZDwqUFOW'>https://testflight.apple.com/join/ZDwqUFOW</a></p>
    <p>--------------------------------------------------</p>
    <p><b>YOUR LOGIN CREDENTIALS</b></p>
    <br /><b>Username: <%= @alchemist.username %></b>
    <br /><b>Password: <%= @password %></b>
    <p><b>Please read the introduction and tool-tips using this link:</b>
    <br /><a href='https://drive.google.com/drive/folders/1ETq_MfKKy8e_kRHRuYCnZZHXVQ1OTKV7'>https://drive.google.com/drive/folders/1ETq_MfKKy8e_kRHRuYCnZZHXVQ1OTKV7</a></p>
    <b>Pre-Game Survey
    <ol>
    <li>What is your gender?</li>
    <br /><li>What is your age?</li>
    <br /><li>What is your occupation?</li>
    <p>On a scale of 1-10 how would you rate your</p>
    <li>Current physical health?</li>
    <br /><li>Current mental health?</li>
    <br /><li>Overall sense of clarity?</li>
    <br /><li>Understanding of mental self care.</li>
    <br /><li>Understanding of physical self care.</li>
    <br /><li>How you feel on a normal basis.
      <br />1 (terrible) - 10 (fantastic)</li>
    <br /><li>How often do you feel stressed out?
      <br />1 (never) - 10 (all the time)</li>
    <br /><li>How often do you feel low (or depressed)?
      <br />1 (never) - 10 (all the time)</li>
    <br /><li>Do you have any illnesses?  If so, what?
      <br />(i.e depression, anxiety, anorexia, etc.)</li>
    <br /><li>Are you in professional care or seeking professional help for your illness
      <br />(type “N/A” if not applicable)</li>
    <br /><li>What type of phone are you using? (Apple? Android? Type?)</li>
    <br /><li>What version of your operating system are you using?
      <br />(This can be found in settings) e.g “Apple iOS version 11.4.1”</li></b>
    </ol>
    <p>Wishing you strength and health,</p>
    <p>Will Akana and Josh Lam</p>
  </body>
</html>
